.info-block {
  padding: 18px 22px 22px 22px;
  border-radius: 18px;
  background-color: var(--content_tint_backgroun);
  color: var(--text_primary);
  display: flex;
  user-select: none;
}

.info-block.variant--blue {
  background-color: #3f8ae0;
  color: #fff;
}

.info-block.info-block--clickable {
  cursor: pointer;
}

.info-block.info-block--clickable:hover {
  opacity: 0.8;
}

.info-block.variant--green {
  background-color: #4bb34b;
  color: #fff;
}

.info-block.variant--orange {
  background-color: #FE9F00;
  color: #fff;
}

.info-block.variant--gray {
  background-color: var(--content_tint_background);
}

.info-block--icon {
  padding-right: 12px;
}

.info-block-action {
  margin-top: 14px;
}

.info-block--body-caption {
  margin-top: 4px;;
}

.info-block--after {
  margin-left: 22px;
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 380px) {
  .info-block--icon {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .info-block {
    padding: 8px 12px 12px 12px;
  }
}
