.avatar-counter {
  position: absolute;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px var(--image_border);
  font-size: 15px;
  font-weight: 500;
  border-radius: 100%;
  bottom: 0;
  right: 0;
  color: black;
  z-index: 5;
  width: 21px;
  height: 20px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1px;
  margin-right: -4px;
  margin-bottom: -2px;
}

.slaves-list--item {
  padding-bottom: 0px;
  cursor: pointer;
  max-height: 120px;
}

.slaves-list--item .Card {
  max-height: 100%;
}

.slaves-list--item:active,
.slaves-list--item:hover {
  opacity: 0.9;
}

.slave-list--item-container {
  display: flex;
  align-items: center;
}

.slave-list--item-user-info {
  margin-left: 12px;
  flex: 2;
}

.slave-list--item-user-info-caption {
  color: #707070;
}

.slave-list--item--button {
  padding-left: 0px;
  padding-right: 0px;
}

.slave-list-item--profit.green {
  color: #44CC50;
}

.slave-list-item--profit.gray {
  color: #ddd;
}