.avatar-counter {
  position: absolute;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px var(--image_border);
  font-size: 15px;
  font-weight: 500;
  border-radius: 100%;
  bottom: 0;
  right: 0;
  color: black;
  z-index: 5;
  width: 21px;
  height: 20px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1px;
  margin-right: -4px;
  margin-bottom: -2px;
}

.slaves-list--item {
  padding-bottom: 0px;
  cursor: pointer;
  max-height: 120px;
  user-select: none;
}

.slaves-list--item .Card {
  max-height: 100%;
}

.slaves-list--item:active,
.slaves-list--item:hover {
  opacity: 0.9;
}

.slave-list-item--lock {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 4px;
}

.slave-list--item-user-info-title {
  display: block;
}

@media screen and (max-width: 380px) {
  .slave-list--item-user-info-title {
    font-size: 15px;
  }

  .slave-list-item--profit {
    font-size: 14px;
  }
}

@media screen and (max-width: 340px) {
  .slave-list--item-user-info-title {
    font-size: 14px;
  }

  .slave-list-item--profit {
    font-size: 12px;
  }

  .slaves-list--item  .Button__content {
    font-size: 13px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .slaves-list--item .Button {
    min-height: 0px;
  }
}

.slave-list--item-container {
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}

.slave-list--item-user-info {
  margin-left: 12px;
  flex: 2;
  overflow: hidden;
}

.slave-list--item-user-info-caption {
  color: #707070;
}

body[scheme="space_gray"] .slave-list--item-user-info-caption {
  color: #aaa;
}

.slave-list--item--button {
  padding-left: 0;
  padding-right: 0;
}

.slave-list--item--button.inactive .Button__content {
  color: #707070;
  font-weight: 400;
  padding-top: 0px;
  padding-bottom: 0px;
}

.slave-list--item--button.inactive {
  min-height: 22px;
}

.slave-list--item--button .Tappable__hoverShadow {
  background: none !important;
}

.slave-list-item--profit.green {
  color: #44CC50;
}

.slave-list-item--profit.gray {
  color: #ddd;
}

.slave-list--item--button .Tappable__hoverShadow {
  background: none !important;
}